<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlog.wlogadmin.mapper.ArticleMapper">

    <select id="pageArticle" resultType="com.wlog.wlogadmin.model.vo.ArticleVO">
        select ta.*, tac.category_id from t_article as ta left join  t_article_category_rel tac on ta.id = tac.article_id
        <where>
            ta.is_deleted = 0
            <if test="articlePageVO.title != null and articlePageVO.title != ''">
                and  ta.title like concat('%', #{articlePageVO.title}, '%')
            </if>
            <if test="articlePageVO.startDate!=null and articlePageVO.endDate != null "  >
                and ta.create_time between #{articlePageVO.startDate} and #{articlePageVO.endDate}
            </if>
        </where>
    </select>
</mapper>